:root {
  --primary-color: #9792e4;
  --secondary-color: #0084fd;
  --card-bg-color: #b5ddff;
  --card-color: #5b6f81;
  --primary-text-color: #353535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body > section {
  padding: 3rem 0;
  background-color: white;
  color: #353535;
}

body > section:nth-of-type(even) {
  padding: 3rem 0;
  background-color: var(--primary-color);
  color: white;
}

/* ####  GRID #### */

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

[class*="col"] {
  padding: 15px;
}

.col {
  padding: 15px;
  gap: 15px;
}

.card {
  width: 100%;
}

/* ####  utils  #### */

/* ###  HEADER  #### */

#header {
  background-color: var(--secondary-color);
  color: rgb(105, 105, 105);
}

#header .container {
  display: flex;
  justify-content: space-between;
}

#header .logo,
#header nav {
  padding: 25px;
  background-color: var(--card-bg-color);
}

.lista {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 15px;
}

/* ### section demo app ### */

#demo-app .col {
  width: calc(100% / 3);
}

#demo-app .col:first-child {
  width: calc(100% / 3 * 2);
}

/* #demo-app .col:first-child .card {
  display: flex;
} */

#demo-app .col:first-child .card-left,
#demo-app .col:first-child .card-right {
  width: 50%;
}

#demo-app .card {
  padding: 1rem;
  background-color: var(--card-bg-color);
}

/* ##### SECTION PLANNING #####  */
#planning .col {
  width: 50%;
  border: 1px solid black;

  color: white;
}

#planning .container {
  max-width: 800px;
}
#planning .container .row {
  align-items: flex-end;
}
#planning .card {
  padding: 1rem;
  background-color: white;
  color: var(--primary-text-color);
}

/* #### section testimonials #####  */
#testimonials .card {
  background-color: var(--primary-color);
  color: white;
  padding: 15px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#testimonials .col.col-left {
  width: 30%;
}

#testimonials .col.col-right {
  width: 70%;
}
.img-round {
  border-radius: 50%;
  color: var(--primary-text-color);
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: white;
  color: var(--primary-color);
  overflow: hidden;
  text-align: center;
  font-size: 3rem;
}

.img-round > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #### section BENEFIT #####  */

#benefit .card {
  padding: 1rem;
  background-color: white;
  color: var(--primary-text-color);
}

#benefit .col {
  width: calc(100% / 3);
}

/* <!-- ##### SECTION ABOUT #####  --> */
#about .col.col-left {
  width: 55%;
}

#about .col.col-left {
  width: 45%;
}

.btn {
  width: 20px;
}

/* ####   MEDIA QUERY  ####  */

/* ###  TABLET MEDIA  ####  */

/* ### section demo app ### */

@media screen and (max-width: 768px) {
  /* <!-- ####  section Header #####  -->  */
  .lista {
    display: none;
  }

  nav {
    display: none;
  }
  #demo-app .card .col {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #demo-app .row .col {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* ##### SECTION PLANNING #####  */
  #planning .col {
    width: 100%;
  }

  /* #### section BENEFIT #####  */
  #benefit .col {
    width: 50%;
  }
}
/* ###  MOBILE MEDIA  ####  */

/* #### section DEMO APP #####  */

@media screen and (max-width: 480px) {
  #demo-app .row .col {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* #### section testimonials #####  */
  #testimonials .col.col-left {
    width: 100%;
  }

  .img-round {
    margin-left: auto;
    margin-right: auto;
  }

  .col .col-right {
    text-align: center;
  }

  /* #### section BENEFIT #####  */
  #benefit .col {
    width: 100%;
  }
}
